@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--foreground-rgb: 0, 0, 0;
	--background-start-rgb: 214, 219, 220;
	--background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
	:root {
		--foreground-rgb: 255, 255, 255;
		--background-start-rgb: 0, 0, 0;
		--background-end-rgb: 0, 0, 0;
	}
}

body {
	color: rgb(var(--foreground-rgb));
	background: linear-gradient(
			to bottom,
			transparent,
			rgb(var(--background-end-rgb))
		)
		rgb(var(--background-start-rgb));
}

.hoverAnimation {
	@apply text-neutral-500 uppercase no-underline tracking-[0.15em] inline-block relative px-5 py-[15px] after:content-[""] after:block after:h-0.5 after:absolute after:w-0 after:left-2/4 after:bottom-0;
}

.hoverAnimation:hover:after {
	background: none repeat scroll 0 0 transparent;
	background: #581c87;
	width: 100%;
	left: 0;
	transition: width 0.3s ease 0s, left 0.3s ease 0s;
}
